*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
}

.navbar{
    background:#131313;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}
.navbar__container{
    display:flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}
#navbar__logo{
    background-color: #ff8177;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color:transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration:none;
    font-size: 2rem;
}
.fa-gem{
    margin-right: 0.5rem;
}
.logo img{
    background-color: #4837ff;
    position:relative;
    margin-top: 100px;
    margin-left: 5px;
    width:400px;
    padding-left: 1%;
    padding-top: 3%;

}
.navbar__menu{
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar__item{
    height: 80px;
}
.navbar__links{
    color: #fff;
    display:flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}
.navbar_btn{
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
}
.button{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #f77062;
    color: #fff;
}
.button:hover{
    background: #4837ff;
    transition: all 0.3s ease;
}

.navbar__links:hover{
    color: #f77062;
    transition: all 0.3s ease;
}
@media screen and (max-width:960px){
.navbar__container{
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0;
}
.navbar__menu{
    display: grid;
    grid-template-columns: auto;
    margin: 0;
    width: 100%;
    position: absolute;
    top: -1000px;
    opacity: 0;
    transition: all 0.5s ease;
    height: 50vh;
    z-index: -1;
    background: #131313;
}
.navbar__menu.active{
    background: #131313;
    top: 100%;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 99;
    height: 50vh;
    font-size: 1.6rem;
}
#navbar__logo{
    padding-left: 25px;
}
.navbar .navbar__container a#navbar__logo .img{
    position: relative;
    margin: 10px;
    width: 50px;
}
.navbar__toggle .bar{
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background:#fff;
}
.navbar__item{
    width: 100%;
}
.navbar__links{
    text-align: center;
    padding:2rem;
    width: 100%;
    display: table;
}
#mobile-menu{
    position:absolute;
    top: 20%;
    right: 5%;
    transform: translate(5%, 20%);
}
.navbar__btn{
    padding-bottom: 2rem;
}
.button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80px;
    margin: 0;
}
.navbar__toggle .bar{
    display: block;
    cursor: pointer;
}
#mobile-menu.is-active .bar:nth-child(2){
    opacity: 0;
}
#mobile-menu.is-active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
}
#mobile-menu.is-active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
}
}
/* ----Section 1----*/

.main{
    background-color: #141414;
}
.main__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    height: 70vh;
    background-color: #141414;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding:0 50px;
}
.main__container h1 {
    font-size: 4rem;
    background-color:#ff8177;
    background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}
.main__container h2 {
    font-size: 4rem;
    background-color:#ff8177;
    background-image: linear-gradient(to top, #b721ff 0%, #21d4fd 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}
.main__btn{
    font-size: 1rem;
    background-image: linear-gradient(to top, #f77062 0%, #fe5196 100%);
    padding: 14px 32px;
    border: none;
    border-radius: 4px;
    color: #fff;
    margin-top: 2rem;
    cursor:pointer;
    position: relative;
    transition: all 0.35s;
    outline: none;
}
.main__btn a{
    position: relative;
    z-index: 2;
    color: #fff;
    text-decoration: none;
}
.main__btn:after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background:#4837ff;
    transition: all 0.35s;
    border-radius: 4px;
}
.social{
    margin: 10px;
}
.social i{
    margin: 5px;
    position: relative;
    font-size: 2rem;
    background-color:#ff8177;
    background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;  
}
.social i:hover{
    background-color:#4837ff;
    background-image: linear-gradient(to top, #b721ff 0%, #21d4fd 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;  
}

.main__btn:hover{
   color:#fff; 
}
.main__btn:hover:after{
    width: 100%;
}
.main__img--container{
    text-align: center;
}
#main__img{
    height: 80%;
    width: 80%;
}
@media screen and (max-width:768px){
    .main__container{
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        justify-self: center;
        width: 100%;
        margin: 0 auto;
        height: 100vh;
    }
    .main__content{
        text-align: center;
        margin-bottom: 4rem;
    }
    .main__content h1 {
        font-size: 2.5rem;
        margin-top: 2rem;
    }
    .main__content h2{
        font-size: 3rem;
    }
}

@media screen and (max-width: 480px){
    .main__content h1 {
        font-size: 2rem;
        margin-top: 3rem;
    }
    .main__content h2{
        font-size: 2rem;
    }
    .main__btn{
        padding: 12px 36px;
        margin: 2.5rem 0;
    }
}
/*--------about--------------------*/
.div_about{
    position: relative;
    width: 100%;
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background:#141414;
    overflow: hidden;
}
.div_about h1 {
    position: absolute;
    top:5%;
    width: 100%;
    text-align: center;
    font-size: 4rem;
    background-color:#ff8177;
    background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}
.about1{
    width:50%;
}
.about2{
    width:50%;
}

.about1 h3{    
    position: relative;
    top:20%;
    width: 100%;
    text-align: center;
    font-size: 3rem;
    background-color:#ff8177;
    background-image: linear-gradient(to top, #b721ff 0%, #21d4fd 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.about1 p {
    position: relative;
    top: 10%;
    left: 15%;
    text-align: justify;
    width: 70%;
    color:#fff;
    font-size: 16pt;
    justify-content: center;
}
.about2 img{
    position: relative;
    top: 10%;
    left:25%;
}
@media screen and (max-width:768px){
    .about1{
        position:absolute;
        top: 20%;
        width: 100%; 
    }
    .about2{
        position:absolute;
        top: 30%;
        width: 100%;
    }
    .about1 h3{
        top: 5px;
    }
    .about1 p{
        top: auto;
        left: center;
    }
    .about2 img{
        position: absolute;
        top: 250px;
        left: center;
    }
    .about2 img{
    display:none;
    }
}
/*---------------gallery------------------*/
.div_gallery{
    position: relative;
    width: 100%;
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background:#141414;
    overflow: hidden;
}
.div_gallery h1{
    position: absolute;
    top:1%;
    width: 100%;
    text-align: center;
    font-size: 4rem;
    background-color:#ff8177;
    background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}
.swiper-container{
    width: 15%;
    padding-top: 50px;
    padding-bottom: 50px; 
}
.swiper-slide{
    background-position:center;
    background-size: cover;
    width: 50px;
    background:#fff;
}
.swiper-slide img{
    width: 300px;
}
/*-----------Roadmap----------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
.div_roadmap{
    position: relative;
    width: 100%;
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background:#141414;
    overflow: hidden;
}
.div_roadmap h1{
    position: absolute;
    top: 1%;
    width: 100%;
    text-align: center;
    font-size: 4rem;
    background-color:#ff8177;
    background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.wrapper{
    max-width: 1080px;
    margin: 50px 50px;
    margin-top: 10%;
    padding: 0 20px;
    position: relative;

  }
  .wrapper .center-line{
    position: absolute;
    height: 100%;
    width: 4px;
    background-color:#ff8177;
    background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
    left: 50%;
    top: 20px;
    transform: translateX(-50%);
  }
  .wrapper .row{
    display: flex;
  }
  .wrapper .row-1{
    justify-content: flex-start;
  }
  .wrapper .row-2{
    justify-content: flex-end;
  }
  .wrapper .row section{
    background: #fff;
    border-radius: 5px;
    width: calc(50% - 40px);
    padding: 20px;
    position: relative;
  }
  .wrapper .row section::before{
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    background: #fff;
    top: 28px;
    z-index: -1;
    transform: rotate(45deg);
  }
  .row-1 section::before{
    right: -7px;
  }
  .row-2 section::before{
    left: -7px;
  }
  .row section .icon,
  .center-line .scroll-icon{
    position: absolute;
    background: #f2f2f2;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ff7979;
    font-size: 17px;
    box-shadow: 0 0 0 4px #fff, inset 0 2px 0 rgba(0,0,0,0.08), 0 3px 0 4px rgba(0,0,0,0.05);
  }
  .center-line .scroll-icon{
    bottom: 0px;
    left: 50%;
    font-size: 25px;
    transform: translateX(-50%);
  }
  .row-1 section .icon{
    top: 15px;
    right: -60px;
  }
  .row-2 section .icon{
    top: 15px;
    left: -60px;
  }
  .row section .details,
  .row section .bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .row section .details .title{
    font-size: 22px;
    font-weight: 600;
  }
  .row section p{
    margin: 10px 0 17px 0;
  }
  .row section .bottom a{
    text-decoration: none;
    background: #ff7979;
    color: #fff;
    padding: 7px 15px;
    border-radius: 5px;
    /* font-size: 17px; */
    font-weight: 400;
    transition: all 0.3s ease;
  }
  .row section .bottom a:hover{
    transform: scale(0.97);
  }
  @media(max-width: 790px){
    .wrapper .center-line{
        margin-top: 10%;
      left: 40px;
    }
    .wrapper .row{
      margin: 30px 0 3px 60px;
    }
    .wrapper .row section{
      width: 100%;
    }
    .row-1 section::before{
      left: -7px;
    }
    .row-1 section .icon{
      left: -60px;
    }
  }
  @media(max-width: 440px){
    .wrapper .center-line,
    .row section::before,
    .row section .icon{
      display: none;
    }
    .wrapper .row{
      margin: 10px 0;
    }
  }

  /*---------TEAM---------*/
  .bg{
    position: relative;
    width:100%;
    background:#141414;
  }
  .div_team{
    position:relative;
    left: 10%;
    width: 80%;
    min-height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    background:#141414;
}
.div_team h1{
    position: absolute;
    top: 1%;
    width: 100%;
    text-align: center;
    font-size: 4rem;
    background-color:#ff8177;
    background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}
.team {
    position: relative;
    width: 320px;
    height:480px;
    overflow: hidden;
    margin: 8px;
    border: 2px solid var(--primary);
    border-radius: 16px;
    background-color: #ffffff34;
}
/*
@media  screen and (max-width:790px) {
    .team{
        position:relative;
        width: 100%;
    }
}
.team::before {
    content: '';
    background-image: var(--img);
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    filter: blur(4px) grayscale(100%);
}

.team img {
    position: absolute;
    top: 0;
    left: 0;
    width: 320px;
    height: 480px;
    border-radius: 16px;
    z-index: 3;
    object-fit: cover;
    border: none;
}

.team:hover img {
    width: 160px;
    height: 240px;
    border: 2px solid var(--primary);
    left: 80px;
    top: 60px;
}

.team .info {
    background-color: white;
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    z-index: 2;
    color: #363636;
    padding: 16px;
    border-top: 8px solid var(--primary);
    border-radius: 50% 50% 0px 0px;
    padding-top: 80px;
    text-align: center;
    transform: scale(2)
}

.team .name {
    font-size: 24px;
    padding: 16px;
    text-transform: capitalize;
}

.team .title {
    color: grey;
    text-transform: capitalize;
}

.team:hover .info {
    transform: scale(1)
}
*/